.listenlive-container{
padding: 50px;
background-color: rgba(243, 134, 0, 0.308);
position: relative;
background-image: url(./../images/blue7.jpg);
height: 309px;
max-width: 100%;


}
.playing-image{
    width: 300px;
    border-radius: 10px;
    
    
}
.playing-imagediv{
    margin-left: 50%;
    
    position: absolute;
    margin-top: 88px;


}
.caller-div{
    background-color:black;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: white;
    padding: 15px;
    
    
}
.toplive{
    padding: 9px;
    margin-left: 50%;
    width: 110px;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-top: -30px;
}
.onairnow-div{
    position: relative;
    padding-left: 30%;
    color: white;
    padding-top: 8%;
}
.playlive-icon{
    position: absolute;
    margin-left: -6.3%;
    margin-top: 15px;
    font-size: 100px;
    color: white;


}
.livett{
    margin-right: 3%;
    background-color: darkorange;
    padding: 7px;
    border-radius: 10px;
    
}
.ebe-header{
    color: darkorange;
}
.ne-container{
    display: flex;
    gap: 5%;
    font-size: larger;
    padding: 40px;
}
.img-new{
    height: 500px;
    position: relative;
}
.news-head{
   margin-left: 2%; 

    
}
.music-name{
    color: black;
    position: absolute;
    z-index: 2;
    top: 190px;
    font-weight: bold;
    padding: 5px;
}
.now-playing{
    color: rgb(255, 140, 0);
    font-size: 23px;
    margin-left: 35%;
    background-color: aliceblue;
    width: 70px;
    color: black;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 5px 2px 5px 2px;
    border: solid;
    
}
.contribute{
    color: darkorange;
    padding-left: 10px;
    font-weight: lighter;
}
.pre-image{
    width: 230px;
    height: 200px;
}
.pre-container{
    display: flex;
    gap: 50px;
    margin-left: 10%;
}
.pre-text{
    margin-left: 15%;
}
.art-name{
    font-weight: bold;
}
.host-container{
    display: flex;
    gap: 170px;
    margin-top: 70px;
    
} 
.host{
    width: 550px;
    height: 600px;
    position: relative;

}
.host-div{
    margin-left: 18%;
    
}
.prog-name{
    position: absolute;
    z-index: 2;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    font-size: 25px;
}
.prog-host{
    position: absolute;
    z-index: 2;
    bottom: -210px;
    background-color: black;
    color: white;
    width: 520.5px;
    padding: 15px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.aboutshow-container{
    margin-left: 18%;
}
.reply-container{
    padding: 20px;
}
.contactform-div{
    
    background-color: alihite;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px;
    width: 900px;
    height: 550px;
    margin-left: 25%;
    
}
.contact-text{
    height: 300px;
    width: 600px;
}
.contact-email,
.contact-name{
    height: 30px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    
    
}
.contact-name{
    margin-right: 80px;

}
.contact-btn{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius:5px ;
    background-color: brown;
    color: white;
}
.contact-head{
    
    color: white;
    background-color: darkorange;
    width: 200px;
    padding: 10px;
    margin-left: 37%;

}
.topnews-time{
    margin-left: 2.2%;
}
.newsdis-div{

   width: 1000px;
    
}
.newsdiv-container{
    gap: 50px;
    display: flex;
    margin-left: 30px;
    padding: 20px;
    
    
}
.newspage-pic1{
    width: 1000px;
    height: 600px;
    padding: 10px;
}
.sidenews-pic{
    width: 100px;
}
.side-news-div{
padding: 20px;
margin-top: 140px;
}
.newspage-head{
    padding-left: 20px;
}
.newspage-time{
    padding-left: 20px;
}
.newspage-text{
    font-size: larger;
    padding-left: 10px;
}
.sidenews-head{
    background-color: black;
    padding: 10px;
    width: 150px;
    color: white;
    
}
.scheduleday-container{
padding: 10px;


}
.schedule-day{
    height: 50px;
    width: 130px;
    margin-left: 15px;
    font-weight: bolder;
}
.schedule-day:focus{
    background-color: black;
    color: white;
}
.schedule-head{
    margin-left: 25px;
}
.schedule-date{
    margin-left: 25px;
    font-size: 30px;
    font-weight: bold;
}

/* check */
.audio-player{
    bottom: 0;
    background-color: bisque;
    width: 400px;
    padding: 5px;
    margin-top: 20px;
    border: solid;
    box-shadow: 1px 4px 5px  ;
    border-color: white;
    position: absolute;
    z-index: 2;
    right: 20%;


}
.pop-pics{
    width: 300px;
    height: 400px;
    margin-left: 45px;
    border-radius: 20px;
    
    
}
.main-play{
    margin-left: 45px;
}
.player-head{
    text-align: center;
}
.play-date{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.remove-play{
    margin-left: 90%;
    font-size: 30px;
    color: red;
    cursor: pointer;
}
.player-name{
    position: absolute;
    top: 83.8%;
    margin-left:45px ;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 5px;
    border-bottom-left-radius: 20px;
    
}
.moday1-image{
    width: 300px;
    height: 180px;
}
.schedule-social{
    margin-top: 10px;
    margin-left: 1.5%;
    display: flex;
    gap: 20px;
}
.facebook-ico{
    background-color: rgb(1, 93, 231);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.facebook-ico:hover{
    transform: scale( 1.1, 1);
    transition: 0.5s; 
}


 