
.container-body1{
   display: flex;
   gap: 30px;
   margin-left: 20px;
   margin-top: 20px;
   justify-content: center;
}
.body1-first,
.body1-second,
.body1-third
{
 background-color: darkorange;
 width: 420px; 
 
   
}
.eke:hover{
    text-decoration: underline;
}
.ekene:hover{
    text-decoration: underline; 
}
.ekeneth:hover{
    text-decoration: underline;
}
.first-bodyimage,
.second-bodyimage,
.third-bodyimage{
   width: 420px;
   height: 450px;
   position: relative;
}
.eke,.ekene,.ekeneth
{
    position: absolute;
    margin-bottom: 0px;
    z-index: 2;
    height: 250px;
    width: 420px;
    text-align: center;
    padding-top: 200px;
    color: white;
    cursor: pointer;
    
}
.ekeneth:hover{
background-color: rgba(15, 14, 14, 0.678);
}
.eke:hover{
    background-color:rgba(15, 14, 14, 0.678);
}
.ekene:hover{
    background-color:rgba(15, 14, 14, 0.678);
}
.top-stories{
    text-align: center;
    color: darkorange;
    padding-top: 20px;
}
.img2{
    width: 200px;
    height:200px ;
    margin-left: 10%;
    border-radius: 20px;
    box-shadow: 0px 1px 7px 1px whitesmoke;
}
.body2-container{
    margin-top: 50px;
    background-color: darkorange;
    position: relative;
    display:flex ;
}
.program-header{
    margin-left: 20%;
    padding: 5px;
    
}
.body22{
    display: flex;
    gap: 40%;
    
}
.schedule{
    margin-left: 20%;
    cursor: default;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    color: black;
    
}
.listen2{
    border: solid white;
    height: 25px;
    padding: 5px;
    margin-top: 10px;
    padding-right: 30px;
    position: relative;
    cursor: default;
    margin-left: 35%;
    text-decoration: none;
    color: black;

}
.listen2:hover{
background-color: rgba(0, 0, 0, 0.11);
}
.icon-play{
    position: absolute;
    padding-top: 4px;
    padding-left: 8px;
    color: red;
    
}
.lnight{
   top: 60%; 
   position: absolute;
   padding: 10px;
   margin-left: 12%;
   font-weight: bold;
   color: black;
   text-decoration: none;
}

.body3{
    position: relative;
    color: black;
}
.ltime{
    position:absolute ;
    top: 65%;
    padding: 19px;
    margin-left: 11%;
    color: black;
    
}
.wname{
    margin-left: 32%;
    padding-bottom: 5px;
}
.body2-secondcontainer{
    display: flex;
    gap: 25%;
    margin-left: 30%;
    
}
.lday{
    position: absolute;
    margin-top: 20%;
    margin-left:230px;
    cursor: pointer;
    font-weight: bold;

}
.day-time{
    position: absolute;
    margin-left: 230px;
    margin-top: 60%;

}

